*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #252525;
    
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color:rgb(58, 95, 244);
    padding: 20px 0px;
    border-radius: 30px;
    margin-right:40em  ;
}
nav ul li{
    margin-right: 35px;
}
nav ul li a{
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: antiquewhite;
}
nav ul li a:hover{
background-color: rgb(59, 46, 237);
}


.courses{
    border: solid 3px black;
    height: 400px;
    width: 500px;
    margin: 30% 100px;
    transition: 0.7s ease;  
}
.courses:hover{
    transform: scale(1.1);
}
 .logo{
    height: 160px;
    width: 200px;
    background-image: url(Logo2.png);
    background-size:  230px ;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s ease;
 }
 .logo:hover{
    background-image: url(logo\ hover2.png);
    transform: scale(1.2);
 }
 
h1{
    font-family: fantasy;
    text-align: center;
    margin-top:150px;
    color:#222;
    text-decoration: none;
    font-size: 30px;
    margin-right: 70px;    
}
h1 span{
    font-size: 50px;
}

.main{
    display: flex;
    background: url(cube.png) no-repeat;
    background-size:cover ; 
    min-height: 100vh;
    background-attachment: fixed;
}
.main p{
    display: flex;
    justify-content: center;
    
    background-color: rgb(59, 46, 237);
    padding: 20px;
    border-radius: 25px;
    width: 200px;
    margin-left: 140px;
    transition: 0.7s ease;
}
.main p:hover{
    transform: scale(1.2);
}
.main a{
    text-decoration: none;
    color: white;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: fantasy;
    color: rgb(11, 11, 118);
    margin-bottom: 200px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color:white;
    width: 21.25em;
    height: 23.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 20px;
    padding: 25px;
    margin:30px; 
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.2);
}
.icon{
    font-size: 70px;
    color: rgb(11, 11, 118);
    text-align: center;
}
.info{
    text-align: center;
    font-size: 30px;
    
}
.info h3{
    margin: 20px;
}
.content a{
    text-decoration: none;
    color: rgb(11, 11, 118);
}






