*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color:rgb(58, 95, 244);
    padding: 20px 0px;
    border-radius: 30px;
    margin-right: 40em;
}
nav ul li{
    margin-right: 35px;
}

nav ul li a{
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: antiquewhite;
}
nav ul li a:hover{
background-color: rgb(59, 46, 237);
}
.logo{
    height: 160px;
    width: 200px;
    background-image: url(Logo2.png);
    background-size:  230px ;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s ease;
 }
 .logo:hover{
    background-image: url(logo\ hover2.png);
    transform: scale(1.2);
 }

section{
    display: flex;
    margin: 0;
}
table{
    width: 100%;
    position: absolute;
    font-size: xx-large;
    border-spacing: 0;
}
th{
    background-color: rgb(14, 113, 189);
    font-size: 50px;
    text-transform: uppercase;
    font-family: fantasy;

}
td{
    background-color: rgb(33, 32, 32);
    font-size: 50px;
    padding-bottom: 20px;
    font-family: fantasy;
    border: 5px black solid;
}
.css i{
    font-size: 150px;
    color: blue;
    transition: 0.7s ease-in-out;

}
.css i:hover{
    transform: scale(1.2);
}
.html i{
    font-size: 150px;
    color: orange;
    transition: 0.7s ease-in-out;
}
.html i:hover{
    transform: scale(1.2);
}
.python i{
    font-size: 150px;
    color: blueviolet;
    transition: 0.7s ease-in-out;
}
.python i:hover{
    transform: scale(1.2);
}
.java i{
    font-size: 150px;
    color: yellow;
    transition: 0.7s ease-in-out;
}
.java i:hover{
    transform: scale(1.2);
}
.progress1{
    display: flex;
    background-color: rgb(1, 93, 23);
    text-align: center;
    justify-content: center;
    height:20px;
    width: 200px;
    margin-right: 100px;
    border-radius: 20px;
    
}
.progress2{
    display: flex;
    background-color: rgb(1, 93, 23);
    text-align: center;
    justify-content: center;
    height:20px;
    width: 270px;
    margin-right: 30px;
    border-radius: 20px;
    
}
.progress3{
    display: flex;
    background-color: rgb(1, 93, 23);
    text-align: center;
    justify-content: center;
    height:20px;
    width: 120px;
    margin-left: -180px;
    border-radius: 20px;
    
}
.progress4{
    display: flex;
    background-color: rgb(1, 93, 23);
    text-align: center;
    justify-content: center;
    height:20px;
    width: 230px;
    margin-right: 70px;
    border-radius: 20px;
    
}
.animation{
    display: flex;
    background-color: rgb(41, 96, 178);
    text-align: center;
    justify-content: center;
    height:20px;
    width: 300px;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 20px;
    
}
.progress1 span{
    background-color: rgb(18, 209, 53);
    width: 100px;
    border-radius: 20px;
    margin-right: 100px;
    animation-name: x;
    animation-duration: 1.3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}
@keyframes x{
    from{
        translate: 0 0;
    }
    to{
        translate: 100px 0;
    }
}
.progress2 span{
    background-color: rgb(18, 209, 53);
    width: 100px;
    border-radius: 20px;
    margin-right: 170px;
    animation-name: y;
    animation-duration: 1.3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}
@keyframes y{
    from{
        translate: 0 0;
    }
    to{
        translate: 170px 0;
    }

}
.progress3 span{
    background-color: rgb(18, 209, 53);
    width: 50px;
    border-radius: 20px;
    margin-right: 70px;
    animation-name: z;
    animation-duration: 1.3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}
@keyframes z{
    from{
        translate: 0 0;
    }
    to{
        translate: 70px 0;
    }
}
.progress4 span{
    background-color: rgb(18, 209, 53);
    width: 100px;
    border-radius: 20px;
    margin-right: 130px;
    animation-name: u;
    animation-duration: 1.3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}
@keyframes u{
    from{
        translate: 0 0;
    }
    to{
        translate: 130px 0;
    }
}